@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  background: #EEEEEE;
}

.submit-success {
  background: #91C483;
  color: #EEEEEE;
  margin: auto;
  text-align: center;
  padding: 120px;
  
}

.item-fadein {
  animation: fadein .8s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.navbar {
  background: #91C483;

}

.navbar-brand {
  font-size: 3em;
  color: #EEEEEE !important;
  font-family: 'Lato', sans-serif;
}

.card {
  background: #EEEEEE;
}

.btn {
  background: #FF6464;
  color: #EEEEEE
}

/* Colors
FFE162
FF6464
91C483
EEEEEE
*/

/*
background-image: url("/public/textured_paper.png");
background-repeat: repeat;
background-color:#91C483;
background-blend-mode: multiply;
*/