@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  background: #EEEEEE;
}

.navbar {
  background: #91C483;

}

.navbar-brand {
  font-size: 3em;
  color: #EEEEEE !important;
  font-family: 'Lato', sans-serif;
}

.card {
  background: #EEEEEE;
}

.btn {
  background: #FF6464;
  color: #EEEEEE
}

/* Colors
FFE162
FF6464
91C483
EEEEEE
*/

/*
background-image: url("/public/textured_paper.png");
background-repeat: repeat;
background-color:#91C483;
background-blend-mode: multiply;
*/