@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  background: #EEEEEE;
  background-image: "url("/textured_paper.png")";
  background-repeat: repeat;
}

.navbar {
  background: #91C483;;
}

.navbar-brand {
  font-size: 3em;
  color: #EEEEEE !important;
  font-family: 'Lato', sans-serif;
}
